<h1>Poems</h1>

<ol>
  <% @poems.each do |poem|%>
  <li class="poem">
    <h3 class="poem_title"><%= poem.title %> by <%= poem.author %><h3>
    <h4 class="poem_tone">General tone of poem: <%= poem.tone %><h4>
    <p class = "poem_lines"><%= poem.lines %></p>
  </li>
  <% end%>
</ol>